<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HomeLLama</title>
</head>
	
<body>
	<h1> Homellama - Simple Ollama Web Interface </h1>
	<hr>
	{% if user_input %}
		<h3>Your Input: </h3>
		<p>{{ user_input }}</p>
		<h3>Response: </h3>
		<p>{{ response }}</p>
	{% elif error %}
		<h3>Error: </h3>
		<p>{{ error }}</p>
	{% endif %}
<div>
	<form action="/ollama" method="POST">
		<input name="input" placeholder="Your message"></input>
		<!--<button type="submit">Send</button>-->
	</form>
	</div>
<style>
body {
background-color: #888888;
}
h1 {

text-align: center;
border-radius: 10px;
}


form input[name="input"] {
    font-size:25px;
    width: 85%;
    text-align: center;
    background-color: lightgray;
    border-radius=10px;
}
input {border-radius: 20px;}
div {
	text-align: center;
	position: fixed;
	bottom: 5%;
	left: auto;
	margin-top: auto;
	width: 100%;
	border-radius=10px;
}
h3 {
margin-left: 5%;
}
p {
	#TODO
margin-left: 10;
}
</style>
</body>
</html>
